@charset "UTF-8";

/* CSS Document */

a {
    text-decoration: none;
}

body {
    text-decoration: none;
    font-family: roboto, sans-serif;
    margin: 0px;
    background-image: url(Branding/admiralnationbackground50%25.jpg);
    background-attachment: fixed;
    background-size: 1540px;
}

header {
    margin: auto;
    width: 2027px;
}

nav {}

.active {
    color: #012395
}

.shophead {
    font-size: 14px;
    color: #012395;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.logo {
    margin: auto;
    display: block;
    z-index: 25;
    width: 204px;
    padding: 5px;
    transition: 0.4s ease;
}

.logo:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

.shopbtn1 {
    font-size: 27px;
    color: #012395;
    background-color: white;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
}

.shopwrapper {
    margin: auto;
    width: 100px;
    margin-top: 110px;
}

.shopright {}

ul > a > li {
    font-family: sans-serif;
    color: #707070;
    text-decoration: none;
    display: inline;
    padding-left: 35px;
    padding-right: 75px;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: 0.5s ease;
    cursor: pointer;
		
}

ul > a {
    transition: 1s ease;
}

ul > a > li:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

ul {
    margin-left: 0px;
    position: fixed;
    top: 18px;
    z-index: 25;
    transition: 0.5s ease;
    left: 0px;
    width: 248.2px;
		
}

.archiveframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    border: none
}

.socialicons {
    width: 40px;
    display: inline
}

.socialicons > a > img {
    position: fixed;
    top: 23px;
    width: 36px;
    z-index: 25;
    transition: 0.3s ease;
    border-radius: 75px;
}

.socialicons > a > img:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
}

.adidas {
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 20;
    width: 64px;
}

.subimgcontainer {
    margin: auto;
    width: 1416px;
    margin-bottom: 500px;
}

.contentwrap {
    margin:
}

.contentwrap > h3 {
    font-size: 35px;
    width: 272px;
    color: white;
    margin-top: -330px;
    margin-bottom: 247px;
    margin-left: 80px;
}

.contentwrap > h3 > span {
    font-weight: 400;
    color: white;
}

.contentwrap > img {
    margin-top: -50px;
    margin-top: 42px;
    width: 656px;
    margin-left: 50px;
}

.subalt {
    padding-right: 43px;
}

.headerbase {
    width: 100%;
    position: fixed;
    background-color: white;
    height: 83px;
    top: 0px;
    left: 0px;
    z-index: 15;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);

}

.imgcontainer {
    margin: 0;
    cursor: default;
    margin-top: 69px;
}

.imgcontainer div > img {
    width: 100%;
    margin-top: 10px;
    filter: brightness(0.95);
    height: 100%;
    ;
}

.contenttext {
    position: fixed;
    top: 17.7px;
    z-index: 24;
    left: 95px;
    font-weight: normal;
    font-size: 15.9px;
}

.imgcontainer div > h3 {
    font-size: 51px;
    position: fixed;
    top: 94px;
    left: 72px;
    color: white;
    width: 400px;
    font-weight: 550;
    text-align: left;
}

.imgcontainer > div > h4 {
    font-size: 51px;
    font-weight: 300;
    position: fixed;
    top: 200px;
    ;
    ;
    color: white;
    left: 72px;
}

.imgcontainer > div > h2 {
    font-size: 18px;
    color:#707070;
    font-weight: 400;
    width: 70%;
    ;
    text-align: center;
    
    position: fixed;
    bottom: -18px;
    right: 0px;
padding-right: 50px;
	padding-bottom: 15px;
	padding-top: 15px;

	transition: 1s ease; 
	padding-right:15%;
	padding-left:20%;
	background-color: white;
	

}

.imgcontainer > div > h5{position: absolute; right: 50px; color: white; font-weight: 400; top: 100px;}

.imgcontainer > div {transition: 1s ease;}

.g2 {
    height: 142px;
}

.clothesitem {
    background-image: url(ylDRTR05sy6M.png);
    width: 250px;
    height: 250px;
    display: inline
}

.filter > a {
    text-decoration: none;
}

.filteritem {
    font-weight: 400;
    color: #707070;
    padding-right: 43px;
    background-color: white;
    padding-left: 43px;
    padding-bottom: 12px;
    padding-top: 13px;
    display: inline;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
    transition: 0.5s ease;
    margin-left: 15px;
}

.filteritem:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
    z-index: 65;
}

.filter {
    font-size: 14px;
    text-align: center;
    position: fixed;
    top: 57px;
    width: 1070px;
    padding-top: 49px;
    display: none;
    z-index: 53;
    left: 165px;
}

.hamburger {
    position: fixed;
    z-index: 340;
    width: 24px;
    left: 23px;
    top: 10px;
    padding: 25px;
    cursor: pointer;
    display: block
}

.clothescontainer {
    margin: auto;
    width: 1662px;
    padding-top: 0px;
    transition: 1s ease;
    transition-delay: 0.3s;
    margin-bottom: 461px;
    margin-top: -44px;
}

.clothescontainer > div {
    display: inline;
}

.clothescontainer > a > img {
    display: inline;
    width: 275px;
    vertical-align: top;
    transition: 0.6s ease;
    transition-delay: 0.2s;
    margin-right: 0.5%;
    margin-left: 45px;
    margin-top: 55px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

.clothescontainer > a > img:hover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 2, 0.17);
}

.infocontainer {
    margin: auto;
    width: 1000px;
    margin-top: 100px;
    padding-top: 6px;
    padding-bottom: 128px;
    transition: 1s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 2, 0.17);
    margin-bottom: 89px;
    background-color: white;
}

form {
    margin: auto;
    width: 289px;
    z-index: 54;
    margin-bottom: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
    padding-left: 33px;
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: white;
    margin-top: -3.1px;
    margin-right: 10px;
}

input[type=text] {
    text-align: center;
}

.slideshow-container {
    margin-top: -562.5px;
    z-index: -5;
    position: relative;
}

form > input,
select {
    margin: auto;
    width: 240px;
    font-size: 17px;
    ;
    height: 36px;
    margin-bottom: 4px;
    margin-left: 6px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

form > br {
    padding-top: 90px;
}

form > h3 {
    font-size: 13px;
    font-weight: 300;
    width: 120px;
    text-align: left;
    margin-left: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
}

select {
    width: 240px;
    height: 25px;
    border: none;
}

input[type=submit] {
    color: white;
    background-color: #012395;
    cursor: pointer;
}

.descriptiontext {
    margin: auto;
    width: 656px;
    margin-top: 178px;
    line-height: 35px;
    margin-bottom: -112px;
}

.descriptiontext > h3 {
    margin: auto;
    width: 102px;
    font-weight: 400;
}

.dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    margin-top: -6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    margin-bottom: 12px;
}

.next > img {
    float: right;
    width: 100px;
    cursor: pointer
}

.prev > img {
    width: 100px;
    cursor: pointer
}

.activedot,
.dot:hover {
    background-color: #717171;
}

.btntextr {
    float: right
}

.topmenu {
    width: 303px;
    margin: 0px;
    display: inline;
}

.topmenu > h1 {
    line-height: 10px;
    width: 288px;
    font-size: 21px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 25px;
    color: #505050;
}

.topmenu > h3 {
    width: 50px;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 0px;
    color: #505050;
    ;
}

.topmenu > h4 {
    line-height: 0px;
    margin-top: -77px;
    float: right;
    margin-right: 26px;
    padding-right: 50px;
    background-color: green;
    font-weight: 400;
    font-size: 18px;
    background-color: #012395;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 19px;
    padding-left: 19px;
    color: white;
    cursor: pointer;
    margin-bottom: 26.6px;
}

.descriptcontainer {
    margin: auto;
    width: 844px;
}

.descriptcontainer > h3 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.block1 {
    margin: auto;
}

.block2 {
    margin: auto;
    width: 185px;
}

.block2 > div {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    float: left;
    border-radius: 50px;
}

.block1container {
    width: 228px;
    float: left;
    margin-left: 110px;
}

.block2container {
    width: 228px;
    ;
    float: right;
    margin-right: 110px;
}

.block1container > h3 {
    text-align: center;
    font-weight: 400;
}

.block2container > h3 {
    text-align: center;
    font-weight: 400;
}

.block1 > img {
    width: 35px;
    margin-left: 9px;
    display: inline
}

.block2 > img {
    width: 35px;
    margin-left: 9px;
    display: inline
}

.blockcontainer {
    display: inline;
}

.filter {
    line-height: 4;
    text-align: left;
    top: 0px;
    left: 110px;
    width: 202px;
    background-color: white;
    height: 100%;
    padding-top: 78px;
    padding-left: 89px;
    z-index: 24;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

.filteritem:hover {
    box-shadow: 0px 0px 0px;
    z-index: 65;
}

.filteritem {
    box-shadow: 0px 0px 0px;
}

ul > a > li:hover {
    box-shadow: 0px 0px 0px;
}

.logocontainer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -115%);
    z-index: 51;
    top: 87.7px;
}

ul {
    display: none;
    width: 209px;
    line-height: 84px;
    text-align: left;
    padding: 0;
    background-color: white;
    height: 100%;
    margin: 0;
    margin-top: -19px;
    padding-top: 66px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

@media screen and (min-width:2000px) {
    #spacer {
        padding-right: 428px;
        padding-left: 418px;
    }
	
	.headerbase {height: 100px;}
	
	.logo {width: 250px;}
	
	.logocontainer {margin-top: 20px; }
	
	.socialicons > a > img{top: 30px;}
	
	.adidas {margin-top: 10px; }
	
	.hamburger {margin-top: 10px; }
	
	.contenttext {margin-top: 27px; }

}

@media screen and (max-width: 1801px) {
    .clothescontainer {
        width: 1324px
    }
}

@media screen and (max-width:1559px) {
    .contentwrap > img {
        width: 560px;
    }

    .subimgcontainer {
        width: 1240px;
    }

    .contentwrap > h3 {
        margin-top: -290px;
    }
}

@media screen and (max-width:1426px) {
    #spacer {
        padding-right: 275px;
        padding-left: 275px;
    }

    .hamburger {
        display: block;
    }

    .clothescontainer > img {
        width: 240px;
    }

    .clothescontainer {
        width: 1032px;
    }
}

@media screen and (max-width: 1038px) {
    .clothescontainer {
        width: 705px;
    }
}

.mcontainer {
    display: none;
    margin: auto;
    width: 340px;
    background-color: white;
    padding-bottom: 40px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

.mcontainer > div {
    margin: auto;
    width: 140px;
    margin-top: 20px;
}

.mcontainer > div > img {
    width: 140px;
    margin-top: 20px;
}

.mcontainer > h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #012395;
}

.mcontainer > .pdiv {
    margin: auto;
    width: 300px;
    text-align: center;
}

.pdiv > p {
    font-size: 15px;
    color: #707070;
}

.msocial {
    margin: auto;
    width: 250px;
    display: inline;
    padding-left: 70px;
}

.msocial > a > img {
    width: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 950px) {
    .desktop {
        display: none;
    }

    .mcontainer {
        display: block
    }

    .logo {
        width: 74px;
    }

    .adidas {
        display: none;
    }

    .headerbase {
        height: 69px;
    }

    .socialicons > a > img {
        top: 18px;
    }

    .socialicons {
        display: none;
    }

    .logocontainer {
        margin-top: -16px;
    }

    .logo {
        width: 65px;
    }

    .hamburger {
        top: 4px;
        width: 20px;
    }
}

@media screen and (max-width:709px) {
    .clothescontainer > img {
        width: 50px;
    }
}

@media screen and (max-width: 545px) {
    .clothescontainer > img {
        width: 170px;
        ;
    }

    .clothescontainer {
        width: 469px;
        margin-top: -60px;
    }

    .shopwrapper {
        margin-top: 80px;
        width: 80px;
    }

    .shophead {
        font-size: 17px;
    }
}

.btncontainer {
    z-index: 14;
    position: fixed;
    left: 72px;
    ;
    top: 300px;
}

marquee {
    margin-top: 54px;
    padding-top: 10px
}

marquee > a > img {
    width: 200px;
    margin-left: 36px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
}

.frame {
    box-shadow: 0px 0px 5px;
    border: none;
    z-index: 10;
}

.stream {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -5;
}

.streamlive {
    position: fixed;
    bottom: 50px;
    left: 0px;
    z-index: 15;
}

@media screen and (max-width: 445px) {
    ul {
        width: 203.3px;
    }

    .imgcontainer > div > h3 {
        left: 10px;
        font-size: 35px;
        width: 350px;
        top: 40px;
    }

    .imgcontainer > div > h4 {
        left: 10px;
        font-size: 25px;
        top: 130px;
    }

    .btncontainer {
        left: 10px;
        top: 180px;
    }

    .imgcontainer > div > img {
        margin-top: -30px;
        height: 310px;
        ;
    }

    .stream {
        width: 100%;
        height: 201px;
        float: left;
        margin-top: 53px;
    }

    .altblock {
        display: block
    }

    marquee > a > img {
        width: 220px;
        margin-left: 36px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
    }
}

.subtext {
    font-weight: 425;
    ;
    bottom: -22px;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
}

span {
    color: #012395;
}

.status {
    color: green;
    position: absolute;
    right: 12%;
}

.altstate {
    color: lightgray
}

.subtextalt {
    right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.topsteaser > img {
    width: 123px;
    object-fit: cover;
    height: 157px;
    margin-left: 42px;
    padding-top: 45px;
}

.shophover {
    cursor: pointer
}

.gtvlogo {
    position: absolute;
    z-index: 10;
    top: 116px;
    ;
    border-radius: 6px;
    left: 60px;
    width: 73px;
}

.foottext1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -115%);
    z-index: 51;
    bottom: -70px;
    font-size: 16px;
    opacity: 0.85;
    color: black;
}

.foottext1 > h4 {
    font-weight: 300;
    padding-top: 0px;
}

.polygon {
    width: 628px;
    position: fixed;
    top: 50px;
    z-index: 16;
    right: 0px;
}

.hambase {
    position: absolute;
    left: 0px;
    width: 241px;
    height: 100%;
    ;
    background-color: green;
    top: 0px;
    z-index: 75;
    display: none;
}
